.hidden {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.login {
  display: flex;
  justify-content: space-around;
  width: fit-content;
}
